<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sal.naman.api.com.mysal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_custom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_custom_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.MarkAttendanceScreen"
            android:label="Salary Page"
            android:parentActivityName=".screens.SalaryPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sal.naman.api.com.mysal.screens.SalaryPage" />
        </activity>
        <activity
            android:name=".screens.AddEmployeeScreen"
            android:label="@string/title_activity_add_employee_screen"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sal.naman.api.com.mysal.MainActivity" />
        </activity>
        <activity
            android:name=".screens.SalaryPage"
            android:label="Salary Page"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sal.naman.api.com.mysal.MainActivity" />
        </activity>
        <activity android:name=".screens.AttendanceDetailScreen" />
        <activity
            android:name=".screens.EmployeeScreen"
            android:label="@string/title_activity_employee_screen"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sal.naman.api.com.mysal.MainActivity" />
        </activity>

        <receiver android:name=".AttendanceWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/attendance_widget_info" />
        </receiver>
    </application>

</manifest>